{% extends 'base.html.twig' %}

{% block title %}Hello LegalController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

</style>
<div class="logo">
     <center> <img src="https://live.staticflickr.com/65535/52440429847_f4d9a01755_m.jpg"></center>
    </div>
     <hr></hr>

<hr></hr>
<br>
<div>
<center><h2>MENTIONS LÉGALES</h2></center>
<center><p>Vous êtes actuellement connecté au site de réservation hôtelière du groupe HOTELHOUSE.</p><p>L'utilisateur en ayant accès à ce site s'engage à se conformer aux présentes conditions d'utilisation. </p></center></div>
<hr></hr>

<hr></hr>
<br>

<div>
<center><h2>INFORMATIONS ÉDITEUR :</h2></center>
<center><p>Ce site est édité par :
HOTELHOUSE SA, Société Anonyme au capital de 870 366 459 euros, immatriculée au Registre du Commerce et des Sociétés sous le N° RCS </p><p>NANTERRE B 623 036 502, et dont le n° de TVA intracommunautaire est FR 93 615 045 502, et inscrite au registre des agents de voyage et autres opérateurs </p>
<p>de séjour sous le n°IM091100035. Garant : WHITE ROCK INSURANCE PCC Limited - Suite 913 Europort - GX11 1AA GIBRALTAR. Assureur : ALLIANZ </p><p>GLOBAL CORPORATE & SPECIALITY - - 115 Esplanade du Général de Gaulle - 92081 Paris La Défense. </p></center></div>
<hr></hr>

<hr></hr>
<br>
<div>
<center><h3>HOTELHOUSE SA :</h3></center>
<center><p>Siège social</p>
<p>156, rue Henri Goodman</p>
<p>CS 20077</p><p>92445 ISSY-LES-MOULINEAUX </p>
<p>Tél :  +33 (0)1 45 38 90 07 </p></center></div>

<hr></hr>

<hr></hr>
<br>

<div>
<center><h5>Directeur de la publication : Silvia Garcia Esteve</h5></center>
<hr></hr>

<hr></hr>
<br>
<center><h2>INFORMATIONS HÉBERGEUR </h2></center>
<center><p>Ce site est hébergé par :</p>
<p>HOTELHOUSE SA</p>
<p>Direction Générale des Systèmes d’Information et Telecom</p>
<p>91000 Evry France</p>
<p>Tél : +33 (0)1 61 67 84 15</p></center></div>

<hr></hr>

<hr></hr>
<br>
<div>

<tr></tr>
<center><h2>INFORMATIQUE ET LIBERTÉS :</h2></center>
<center><p>Pour en savoir plus sur la politique du groupe HOTELHOUSE SA en matière de protection des données personnelles de ses clients</p>
<hr></hr>

<hr></hr>
<br>
<h2>10 PRINCIPES HOTELHOUSE SA EN MATIERE DE PROTECTION DE VOS DONNEES PERSONNELLES</h2>
<p> <strong>1 - Licéité: </strong>nous n’utilisons des données personnelles que si :</p>
<li>nous avons obtenu le consentement de la personne, OU</li>
<li>cela est nécessaire pour l’exécution d’un contrat auquel la personne est partie, OU</li>
<li>cela est nécessaire pour le respect d’une obligation légale, OU</li>
<li>cela est nécessaire à la sauvegarde des intérêts vitaux de la personne, OU</li>
<li>nous poursuivons un intérêt légitime en utilisant des données personnelles et cette utilisation ne porte pas atteinte aux libertés et aux intérêts de la personne.</li>

</center></div>


<br>


<center><p><strong>2- Loyauté: </strong> nous vous expliquons en quoi nous sont utiles les données personnelles que nous collectons</p>
<p><strong>3- Finalités déterminées et minimisation des données: </strong><p> nous ne collectons que les données personnelles qui nous sont réellement nécessaires. </p><p>Si nous pouvons atteindre le même résultat en utilisant moins de données personnelles, alors nous nous assurons de n’utiliser que ces seules données.</p>
<p><strong>4-Transparence:</strong><p>nous informons les personnes concernées de la manière dont nous utilisons leurs données.</p>
<p> <strong>5-</strong>Nous facilitons l’exercice de leurs <strong>droits </strong>par les personnes concernées : accès aux données, rectification</p>
<p>et effacement des données et opposition au traitement des données.</p>
<p> <strong>6- Durées de conservation :</strong> nous ne conservons les données personnelles que pour des durées limitées.</p>

<p> <strong>7-</strong>Nous assurons la sécurité des données personnelles, c’est-à-dire <strong>leur intégrité et leur confidentialité.</strong></p>

<p> <strong>8-</strong>Si un  <strong>tiers</strong> doit utiliser des données personnelles, nous nous assurons que celui-ci est en mesure de protéger les données personnelles.</p>

<p> <strong>9- </strong>Si les données personnelles doivent être <strong>transférées</strong> en dehors de l’Union européenne, nous nous assurons que ce transfert est encadré par les dispositifs juridiques appropriés.


<p> <strong>10- </strong>Si des données personnelles sont compromises (perdues, volées, endommagées, indisponibles…),</p>
</p> nous notifions cette violation aux autorités de protection des données compétentes et aux personnes concernées,</p>
<p> si la <strong>violation</strong> est susceptible de générer des risques élevés pour les droits et libertés des personnes.</p>

<br>
<hr>
<hr>    

<p>HOTELHOUSE SA utilise des <strong>cookies </strong> et d’autres traceurs sur ses sites internet. Pour en savoir plus sur l’utilisation de ces traceurs par HOTELHOUSE SA et pour les paramétrer, veuillez consulter notre politique relative aux traceurs depuis le lien « Cookies » présent en pied de page de nos sites.</p>

<hr>
<hr>
 <center><p><strong>Vos Droits </strong></p></center>
Vous avez le droit d’obtenir des informations et d’accéder à vos données personnelles collectées par HOTELHOUSE SA, sous réserve des dispositions légales applicables.
Vous avez également le droit de faire rectifier vos données, de les faire effacer ou d’en limiter le traitement. De plus, vous avez le droit à la portabilité de vos données et le droit de définir des instructions pour le traitement de vos données après votre mort (le plus tard possible !). Vous pouvez aussi vous opposer au traitement de vos données, en particulier vous opposer à ce que les données vous concernant relatives à vos séjours, vos préférences, votre satisfaction soient partagées entre les établissements du Groupe HOTELHOUSE.
Si vous souhaitez exercer ces droits, contactez directement le département en charge des données personnelles pour le Groupe HOTELHOUSE par courrier électronique à l’adresse data.privacy@hotelhouse.
HOTELHOUSE
Département Protection des Données Personnelles 
(Data Privacy Department)
156, rue Henri Goodman ACC 1318
CS 20077
92445 Issy-les-Moulineaux, FRANCE
Dans un souci de confidentialité et de protection de vos données personnelles, nous devrons vous identifier afin de répondre à votre requête. Pour cela, en cas de doutes raisonnables sur votre identité, il pourra vous être demandé de joindre à l’appui de votre demande, la copie d’un document officiel d’identité, tel qu’un carte d’identité ou un passeport. En ce cas la copie recto noir et blanc de l’un de ces documents suffit.
Toutes les demandes seront traitées dans les meilleurs délais et en conformité avec la loi applicable.
Vous pouvez également exercer vos droits à l’égard de vos données personnelles conservées et traitées par un hôtel en sa qualité de responsable de traitement. Vous devez à cette fin entrer directement en contact avec cet hôtel. Vous trouverez toutes les informations nécessaires pour entrer en contact avec un hôtel sur le site all.HOTELHOUSE.com. Pour tout accompagnement dans vos démarches, merci d’écrire au Département Protection des Données Personnelles à l’adresse data.privacy@hotelhouse.com ou à l’adresse postale ci-dessus.
Enfin, vous pouvez introduire une réclamation auprès d'une autorité de contrôle et vous pouvez contacter le délégué à la protection des données de HOTELHOUSE SA en écrivant à hotelhouse.dpo@hotelhouse.com ou à l’adresse postale ci-dessus.
Si vous êtes en Australie ou en Nouvelle-Zélande et avez une réclamation sur la manière dont nous collectons, utilisons ou divulguons vos données personnelles, vous pouvez aussi contacter</p>

<br>
<br>
<p>Pour toute question sur les principes de protection des données HOTELHOUSE SA, veuillez contacter le service Protection des Données Personnelles, dont les coordonnées  </p>
<p>Siège social:

156, rue Henri Goodman

CS 20077

92445 ISSY-LES-MOULINEAUX

Tél : +33 (0)1 45 38 90 07</p>
hotelhouse@hotelhouse.com

<hr>
<hr>

<div class"container-fluid">
<div class="row p-5 bg-dark text-light">

<div class="col-xs-12 col-md-6 col-lg-3">
<p class="h3">HOTELHOUSE</p>
<img id="logo" src="https://live.staticflickr.com/65535/52440429847_f4d9a01755_t.jpg" >
</a>
</div>
<div class="col-xs-12 col-md-6 col-lg-3">
<p class="h5">links </p>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_legal')}}">Informations légales.</a>
</div>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_cgv')}}">Conditions Générales de Vente.</a>
</div>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_terms')}}">Terms</a>
</div>

</div>
<div class="col-xs-12 col-md-6 col-lg-3">
<p class="h5">Top destinations </p>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_acces')}}">Destinations.</a>
</div>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_acces')}}">Accès</a>
</div>
<a class="text-secondary text-decoration-none" href="{{path('app_chambres')}}">Chambres</a>
</div>


<div class="col-xs-12 col-md-6 col-lg-3">
<p class="h5">Prestations de service </p>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_legal')}}">S’inscrire à la newsletter</a>
</div>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_boutique')}}">Boutique</a>

</div>
<a class="text-secondary text-decoration-none" href="{{path('app_boutique')}}">Actualités.</a>
</div>




      <!-- FOOTER -->
      <footer>
      <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-dark">Nous prenons soin de nos clients.</h5>
        <p class="card-text text-dark">Tout ce que vous besoin.</p>
        <a href="{{path('app_qsn')}}" class="btn btn-dark ">Qui sommes-nous?</a>
        <a href="{{path('app_contact')}}" class="btn btn-dark ">Contact us</a>
        
        

        
        
        
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-dark">Nos réseaux sociaux.</h5>
        <p class="card-text text-dark">Racontez-nous votre expérience.</p>
        
        <div class="container_footer">
        
     <a href="https://www.flickr.com/photos/metales_per4mance_o/" class="btn btn-dark ">Flickr</a>
         <a href="https://www.facebook.com/ux.hax/" class="btn btn-dark ">Facebook</a>
      </div>
    </div>
  </div>
  </div>
</div>

      <center><p class="pull-right btn btn-dark"><a href="#">Back to top</a></p><p>&copy; 2022 Silvia Garcia Esteve. </p></center>
      </footer>
    </div>
</div>
</div>
</div>
   
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    
  </body>
</html>




</center>





{% endblock %}
