{% extends 'base.html.twig' %}

{% block title %}Hello TermsController!{% endblock %}

{% block body %}
<enter><p>
<h3> Effective Date: February 12, 2022 </h3>

<p>PLEASE READ THESE TERMS OF USE (“Terms”) CAREFULLY BEFORE USING ANY HOTELHOUSE WEBSITE OR APP (DEFINED BELOW), AS THEY AFFECT YOUR LEGAL RIGHTS AND OBLIGATIONS. IF YOU DO NOT AGREE TO BE BOUND BY ALL OF THESE TERMS, DO NOT USE THE WEBSITE OR APP. YOU AGREE TO THESE TERMS BY ACCESSING OR USING THE WEBSITE OR APP.

These Terms apply to the websites (any, a “Website”), applications (any, an “App”), </p>
<center><p>interactive features, or online services that are owned or controlled by Club Quarters Hotels,
 Shared Mutual Services, LLC, their direct and indirect subsidiaries,</p><center>
 <p> direct and indirect parent entities, or affiliates (collectively, “hotelhouse,” “we,” “our,” or “us”) and that post a link to these Terms, whether accessed via computer, mobile device or otherwise. Unless otherwise stated in writing, these Terms do not apply to your offline business dealings with HOTELHOUSE.

When using particular services or features of the Website or App,</p>
 both these Terms and a separate contract, terms of service, or a similar agreement (“Additional Terms”) may apply to your use of that service or feature. To the extent there is a conflict between these Terms and any Additional Terms, the Additional Terms will control unless the Additional Terms expressly state otherwise.

Residents of the United Kingdom: Certain special provisions apply to an individual who is a “consumer” (defined as an individual acting wholly or mainly outside of their trade, business, craft or profession) residing in the United Kingdom (“UK”). These special provisions are contained in Appendix 1 (“Special Terms for Consumers in the United Kingdom”), which are a part of these Terms.

<h1>1. USE OF THE WEBSITE OR APP</h1>

You may only use the Website or App if you are at least 18 years of age and can enter into binding contracts (the Website and App are not available for use by minors). By using the Website or App, you agree that you are at least 18 years of age. If you are entering data on behalf of another person, you warrant to us that you are authorized by that person to enter their personal data onto our system, and that that information is accurate and correct. All information and materials contained on this Website and App are for informational purposes only.

<h1>2. OWNERSHIP OF SITE MATERIALS</h1>

The Website and App include all materials that comprise or are otherwise a part of the Website or App, as applicable (including past, present and future versions of the Website or App), including, without limitation: graphics; layout; text; instructions; images; graphs; charts; trademarks, logos, service marks; software (including HTML-based programs); audio; animations; videos; designs; ringtones; wallpapers; games; contests; voting; technology; applications; artwork; information; data; reports; designs; compilations; advertising copy; domain names; any and all copyrightable material (including source and object code); the “look and feel” of the Website or App; the compilation, assembly and arrangement of the materials of the Website or App; and all other materials related to the Website or App (collectively, “Materials“).

The Materials are owned by or licensed to HOTELHOUSE and are protected from unauthorized use, copying and dissemination by copyright, trademark, patent, and other laws, rules, regulations and treaties. Except as expressly set forth in these Terms or expressly granted to you in writing by HOTELHOUSE, no rights in the Materials (whether by implication, estoppel or otherwise) are granted to you. You acknowledge that you do not acquire any ownership rights in the Materials by using the Website or App. You may only use the Materials as expressly set forth in these Terms. UNAUTHORIZED USE, COPYING, REPRODUCTION, STORING, MODIFICATION, REPUBLISHING, UPLOADING, DOWNLOADING, POSTING, TRANSMITTING, DISTRIBUTING, DUPLICATING, REMOVAL OR ALTERATION OF ADVERTISING, OR ANY OTHER MISUSE OF ANY OF THE MATERIALS IS STRICTLY PROHIBITED.

Subject to your strict compliance with these Terms and any Additional Terms, HOTELHOUSE grants you a limited, personal, non-exclusive, revocable, non-assignable and non-transferable license to access and view the Materials (excluding source and object code, other than as made available to access and use via standard web browsers to enable display on your device). When you access or view the Materials, you must: (a) keep intact all copyright and other proprietary notices; (b) make no modifications to the Materials; and (c) not copy or adapt any object code associated with the Website or App, reverse engineer, modify or attempt to discover any source code associated with the Website or App, nor allow or assist any third party (whether or not for your benefit) to do so.

You agree to abide by any and all copyright notices, information, or restrictions contained in any part of the Website or App. Any and all rights to use the Website or App that are not expressly granted to you under these Terms are reserved for HOTELHOUSE or its licensors. Nothing contained in these Terms will affect, impair, or limit in any way HOTELHOUSE’ rights to exploit fully any or all of the Materials. Unauthorized use of Materials may be a violation of federal and state laws and could result in civil and criminal liability.

<h1>3. BUSINESS USES OF THE WEBSITE</h1>

PLEASE READ CAREFULLY: If you are using the Website or App on behalf of a business, you are agreeing to these Terms of Use on behalf of the entity on whose behalf you are using the Website or App (the “Company”). Your agreement to these Terms will be deemed to be an agreement between the Company and HOTELHOUSE, and you represent and warrant that you have authority to bind the Company to the terms and conditions of these Terms (specifically including, but not limited to, Section 7 (Indemnification), Section 8 (Disclaimer), Section 9 (Limitation of Liability), and Section 10 (Governing Law; Disputes). If you do not agree with the Terms, you are not authorized to use the Website or App in any manner.

<h1>4. PROHIBITED CONDUCT</h1>

You agree that you will not, including without limitation by use of any robot, scraper or other data mining technology or process, frame, mask, extract data or other materials from, or copy or distribute, the Materials (except as may be a result of standard search engine or Internet browser usage). Except as expressly provided in these Terms, you may not copy, reproduce, republish, modify, create derivative works of, upload, download, perform, display, post, transmit, distribute or otherwise use, the Materials in any way, without the prior written permission of a duly authorized HOTELHOUSE employee. You may not violate any instructions or restrictions communicated to you by HOTELHOUSE on or through the Website or App.

You agree not to violate or interfere with the security of the Website or App, attempt to gain unauthorized access to the Website or App or data, materials, information, computer systems or networks connected to any server associated with the Website or App, through hacking, password mining or any other means, or otherwise bypass or circumvent any measure employed to limit or prevent access to the Website, the App or Materials. You also agree not to take or attempt any action that, in the sole discretion of HOTELHOUSE, imposes or may impose an unreasonable or disproportionately large load or burden on the Website, App or HOTELHOUSE’ infrastructure. You agree not to use the Website or App for any unlawful purpose.

<h1>5. USER CONTENT</h1>

The Website and App may provide you and other users the opportunity to submit, display or post to the Website or App a variety of information, content or media, including videos, images, computer code, and text (collectively, “User Content”). User Content may include, for example, feedback, questions, comments, and suggestions. You are solely responsible for your User Content, however submitted. By submitting User Content to HOTELHOUSE, you automatically grant to HOTELHOUSE a worldwide, non-exclusive, assignable, royalty-free, perpetual right and license to use, modify, adapt, copy, display, disclose and create derivative works based upon your User Content (including without limitation any and all intellectual property and proprietary rights in such User Content) for any purpose whatsoever in all formats, on or through any media, technology or device now known or hereafter developed. You acknowledge that HOTELHOUSE may be working on or developing material similar or the same in nature to your User Content and that HOTELHOUSE may have received similar or the same intellectual property rights from another party. HOTELHOUSE owes you no obligation with respect to your User Content unless you and HOTELHOUSE enter a written agreement to that effect. If your User Content is subject to protection under intellectual property rights laws, you are responsible for seeking and securing any such protection that may be available to you. Any discussions or negotiations between you and HOTELHOUSE regarding your User Content do not constitute HOTELHOUSE’ recognition of the novelty or originality of your User Content.

<h1>6. COPYRIGHTS AND OTHER INTELLECTUAL PROPERTY AND RELATED COMPLAINTS</h1>

You may not use the Website or App for any purpose or in any manner that infringes the rights of any third party. HOTELHOUSE encourages you to report any content on the Website or App that you believe infringes your rights. Only the intellectual property rights owner or person authorized to act on behalf of the owner can report potentially infringing content. If you have a good faith belief that content on the Website or App infringes your copyright, trademark, or other intellectual property rights, please follow the procedures set forth below.

In accordance with the Digital Millennium Copyright Act of 1998 (the “DMCA”), HOTELHOUSE has a designated agent for receiving notices of copyright infringement and HOTELHOUSE follows the notice and take down procedures of the DMCA. If you believe that your work has been copied in a way that constitutes copyright infringement, please provide HOTELHOUSE copyright agent (copyright agent contact information is set forth below) the following information required by the Online Copyright Infringement Liability Limitation Act of the Digital Millennium Copyright Act, 17 U.S.C. § 512: (a) a physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed; (b) identification of the copyright work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site; (c) identification of the material that is claimed to be infringing or to be the subject of infringing activity and information reasonably sufficient to permit us to locate the material; (d) information reasonably sufficient to permit us to contact the complaining party; (e) a statement that the complaining party has a good-faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and (f) a statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.

If you believe that any content on the Website or App contains content that violates your rights other than copyrights, please provide HOTELHOUSE at least the following information: (a) a physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed; (b) identification of the material that is claimed to be infringing or to be the subject of infringing activity and information reasonably sufficient to permit us to locate the material; (c) an explanation of what rights you own/have and why you believe the content infringes your rights sufficient for us to evaluate your complaint; and (d) accurate contact information for you.

Please send (a) your notice of claims of copyright infringement on or regarding the Website or App, or (b) a complaint regarding alleged violation of rights other than copyrights, to HOTELHOUSE’ copyright agent, who can be reached as follows:

<h1>HOTELHOUSE</h1>
Attn: Copyright Complaints
legal@clubquarters.com (with subject “Copyright Complaints”)
One Atlantic Street, 5th Floor, Stamford, CT 06901

We have a policy of terminating access to users who (in our reasonable discretion) are repeat infringers.

It is often difficult to determine if your intellectual property rights have been violated or if the DMCA requirements have been met. We may request additional information before we remove any infringing material. If a dispute develops as to the correct owner of the rights in question, we reserve the right to remove your content along with that of the alleged infringer pending resolution of the matter.

HOTELHOUSE will provide you with notice if your submission has been removed based on a third party complaint of alleged infringement of the third party’s intellectual property rights.

<h1>7. INDEMNIFICATION</h1>

This section does not apply to UK consumers. See paragraph (2) of Appendix 1 (Special Terms for Consumers in the United Kingdom).

You agree to indemnify, defend and hold harmless HOTELHOUSE, and their affiliates, including without limitation, their parent companies, direct and indirect subsidiaries, supporting organizations, their predecessors and successors to any interest, their licensees, distributors and assignees, and the officers, managers, partners, trustees, directors, shareholders, members, agents, representatives, employees, contractors, and suppliers of each of them (each, as used throughout these Terms, a “HOTELHOUSE Party” and, collectively, the “HOTELHOUSE Parties”), from and against any and all claims, demands, damages, losses, investigations, liabilities, judgments, settlements, costs (including attorneys’ fees), or other expenses that directly or indirectly arise from or are otherwise directly or indirectly connected to: (a) your breach or anticipatory breach of these Terms; (b) your use of the Website, App or activities in connection with the Website or App (including without limitation, with respect to Third Party Interactions); (c) your violation of any law, rule, regulation, code, statute, ordinance or order of any governmental and quasi-governmental authorities, including, without limitation, all regulatory, administrative and legislative authorities; (d) information or material transmitted through your computer, even if not submitted by you, that infringes, violates or misappropriates any copyright, trademark, trade secret, trade dress, patent, publicity, privacy or other right of any person or defames any person; (e) any misrepresentation made by you; or (f) the Club Quarter Parties’ use of your information as permitted under these Terms, the Privacy Notice, or any other written agreement between you and HOTELHOUSE. You will cooperate as fully required by the HOTELHOUSE Parties in the defense of any claim. HOTELHOUSE reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, and you will not in any event settle any claim without the prior written consent of a duly authorized employee of HOTELHOUSE.

<h1>8. DISCLAIMER</h1>

For UK consumers, this Section is subject to paragraph (3) of Appendix 1 (Special Terms for users in the United Kingdom).

THE WEBSITE AND APP (INCLUDING, WITHOUT LIMITATION, ALL MATERIALS, INFORMATION, LINKS, PRODUCTS, SERVICES, SOCIAL DISTRIBUTION, KEYLESS ENTRY, THIRD PARTY INTERACTIONS, AND OTHER CONTENT CONTAINED ON AND/OR OBTAINED THROUGH THE WEBSITE OR APP) ARE PROVIDED “AS IS,” “WITH ALL FAULTS,” AND WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, THE HOTELHOUSE PARTIES DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY, CUSTOM, TRADE, QUIET ENJOYMENT, SYSTEM INTEGRATION, FREEDOM FROM COMPUTER VIRUS, AND FITNESS FOR A PARTICULAR PURPOSE. APPLICABLE LAW MAY NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU.

WITHOUT LIMITING THE FOREGOING, THE HOTELHOUSE PARTIES DO NOT WARRANT OR GUARANTEE THAT YOUR USE OF THE WEBSITE OR APP WILL BE TIMELY, UNINTERRUPTED, ERROR-FREE, OR SECURE, THAT DEFECTS OR ERRORS WILL BE CORRECTED, OR THAT THE WEBSITE (OR THE SERVER(S) THAT MAKES THE WEBSITE AVAILABLE) IS FREE OF VIRUSES, MALWARE OR OTHER HARMFUL COMPONENTS. YOU ACKNOWLEDGE THAT YOU ARE RESPONSIBLE FOR OBTAINING AND MAINTAINING ALL INTERNET ACCESS SERVICES, DEVICE HARDWARE AND OTHER EQUIPMENT NEEDED TO ACCESS AND USE THE WEBSITE, AND ALL CHARGES RELATED THERETO. YOU ASSUME TOTAL RESPONSIBILITY AND RISK FOR YOUR USE OF THE WEBSITE, APP AND YOUR RELIANCE THEREON. NO OPINION, ADVICE, OR STATEMENT OF ANY HOTELHOUSE PARTY, WHETHER MADE ON THE WEBSITE, APP, OR OTHERWISE, SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED HEREIN.

FURTHER, THE HOTELHOUSE PARTIES DO NOT WARRANT OR GUARANTEE THAT YOUR ACTIVITIES, OR USE OF THE WEBSITE, ARE LAWFUL IN ANY PARTICULAR JURISDICTION AND, IN ANY EVENT, THE HOTELHOUSE PARTIES SPECIFICALLY DISCLAIM SUCH WARRANTIES.

YOU UNDERSTAND THAT BY USING ANY OF THE FEATURES OF THE WEBSITE, YOU ACT AT YOUR OWN RISK, AND YOU REPRESENT AND WARRANT THAT YOUR ACTIVITIES ARE LAWFUL IN THE JURISDICTION WHERE YOU ACCESS OR USE THE WEBSITE OR APP.

THE HOTELHOUSE PARTIES SPECIFICALLY DISCLAIM ANY RESPONSIBILITY OR LIABILITY TO ANY PERSON OR ENTITY FOR ANY LOSS, DAMAGE (WHETHER ACTUAL, CONSEQUENTIAL, PUNITIVE OR OTHERWISE), INJURY, DEATH, CLAIM, LIABILITY OR OTHER CAUSE OF ANY KIND OR CHARACTER (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOST BUSINESS, LOST PROFITS, LOST DATA, OR BUSINESS INTERRUPTION) BASED UPON OR RESULTING FROM ANY OPINION, ADVICE, INFORMATION, STATEMENT OR OTHER SUBMISSIONS MADE OR DISPLAYED ON, OR USE OF, THE WEBSITE OR APP (INCLUDING, WITHOUT LIMITATION, ANY USER OF THE WEBSITE OR APP).

PLEASE REMEMBER THAT IT IS YOUR RESPONSIBILITY TO EVALUATE THE ACCURACY AND RELIABILITY OF ANY OPINION, ADVICE, INFORMATION OR STATEMENT AVAILABLE ON THE WEBSITE OR APP. A POSSIBILITY EXISTS THAT THE WEBSITE OR APP COULD INCLUDE INACCURACIES OR ERRORS. ADDITIONALLY, A POSSIBILITY EXISTS THAT UNAUTHORIZED ALTERATIONS COULD BE MADE TO THE WEBSITE OR APP BY THIRD PARTIES. ALTHOUGH WE ATTEMPT TO ENSURE THE INTEGRITY OF THE WEBSITE, THE HOTELHOUSE PARTIES MAKE NO GUARANTEES AS TO COMPLETENESS OR CORRECTNESS OF THE WEBSITE OR APP.

<h1>9. LIMITATION OF LIABILITY</h1>

This Section does not apply to UK consumers. See paragraph (4) of Appendix 1 (Special Terms for Consumers in the United Kingdom).

TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, NONE OF THE HOTELHOUSE PARTIES ARE RESPONSIBLE OR LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, ECONOMIC, EXEMPLARY, PUNITIVE OR OTHER DAMAGES UNDER ANY CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHER THEORY ARISING OUT OF OR RELATING IN ANY WAY, DIRECTLY OR INDIRECTLY, TO: (A) THE WEBSITE OR APP (INCLUDING THE WEBSITE, APP AND ALL MATERIALS, INFORMATION, LINKS, PRODUCTS, SERVICES, SOCIAL DISTRIBUTION, KEYLESS ENTRY, THIRD PARTY INTERACTIONS, AND OTHER CONTENT CONTAINED ON AND/OR OBTAINED THROUGH THE WEBSITE OR APP); (B) YOUR USE OF, OR INABILITY TO USE, OR THE PERFORMANCE OF, THE WEBSITE OR APP; (C) ANY ACTION TAKEN IN CONNECTION WITH AN INVESTIGATION BY THE HOTELHOUSE PARTIES OR LAW ENFORCEMENT AUTHORITIES REGARDING YOUR USE OF THE WEBSITE OR APP; (D) ANY ACTION TAKEN IN CONNECTION WITH COPYRIGHT OR OTHER INTELLECTUAL PROPERTY OWNERS; (E) ANY ERRORS OR OMISSIONS IN TECHNICAL OPERATION OF THE WEBSITE OR APP; OR (F) ANY DAMAGE TO ANY USER’S DEVICE, HARDWARE, DEVICE SOFTWARE, OR OTHER EQUIPMENT OR TECHNOLOGY INCLUDING, WITHOUT LIMITATION, DAMAGE FROM ANY SECURITY BREACH OR FROM ANY VIRUS, BUGS, TAMPERING, FRAUD, ERROR, OMISSION, INTERRUPTION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER LINE OR NETWORK FAILURE OR ANY OTHER TECHNICAL OR OTHER MALFUNCTION, EVEN IF FORESEEABLE OR EVEN IF THE HOTELHOUSE PARTIES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE, STRICT LIABILITY TORT (INCLUDING, WITHOUT LIMITATION, WHETHER CAUSED IN WHOLE OR IN PART BY NEGLIGENCE, ACTS OF GOD, TELECOMMUNICATIONS FAILURE, OR DESTRUCTION OF THE WEBSITE OR APP). WITHOUT LIMITING THE FOREGOING, YOU SPECIFICALLY ACKNOWLEDGE AND AGREE THAT THE HOTELHOUSE PARTIES WILL NOT BE LIABLE FOR ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF ANY USER OF THE WEBSITE OR APP. IN NO EVENT WILL THE HOTELHOUSE PARTIES BE LIABLE TO YOU OR ANYONE ELSE FOR LOSS OR INJURY, INCLUDING, WITHOUT LIMITATION, DEATH OR PERSONAL INJURY. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.

YOUR SOLE REMEDY FOR DISSATISFACTION WITH ANY PORTION OF THE WEBSITE OR APP IS TO STOP USING THE WEBSITE OR APP, AND THE SOLE AND EXCLUSIVE MAXIMUM AGGREGATE LIABILITY TO THE HOTELHOUSE PARTIES FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION (WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE) SHALL BE THE GREATER OF ONE DOLLAR ($1) OR THE TOTAL AMOUNT PAID BY YOU, IF ANY, TO ACCESS THE WEBSITE.

HOTELHOUSE SHALL BE EXCUSED FROM PERFORMANCE UNDER THESE TERMS TO THE EXTENT HOTELHOUSE IS PREVENTED FROM OR DELAYED FROM PERFORMING, IN WHOLE OR IN PART, AS A RESULT OF AN EVENT OR SERIES OF EVENTS CAUSED BY OR RESULTING FROM (1) WEATHER CONDITIONS OR OTHER ELEMENTS OF NATURE OR ACTS OF GOD, (2) ACTS OF WAR, TERRORISM, INSURRECTION, RIOTS, CIVIL DISORDERS, OR REBELLION, (3) QUARANTINES OR EMBARGOES, (4) LABOR STRIKES, OR (5) OTHER CAUSES BEYOND THE REASONABLE CONTROL OF HOTELHOUSE.

YOU AGREE THAT IN THE EVENT YOU INCUR ANY DAMAGES, LOSSES OR INJURIES THAT ARISE OUT OF ANY HOTELHOUSE PARTY’S ACTS OR OMISSIONS, THE DAMAGES, IF ANY, CAUSED TO YOU ARE NOT IRREPARABLE OR SUFFICIENT TO ENTITLE YOU TO AN INJUNCTION PREVENTING ANY EXPLOITATION OF THE WEBSITE, APP OR ANY OF HOTELHOUSE PARTIES’ WEB SITES, PROPERTY, PRODUCT, SERVICE, OR OTHER MATERIALS OWNED OR CONTROLLED BY THE HOTELHOUSE PARTIES, AND YOU WILL HAVE NO RIGHTS TO ENJOIN OR RESTRAIN THE DEVELOPMENT, PRODUCTION, DISTRIBUTION, ADVERTISING, EXHIBITION OR EXPLOITATION OF THE WEBSITE, APP OR ANY OTHER HOTELHOUSE PARTIES’ WEB SITE, PROPERTY, PRODUCT, SERVICE, OR OTHER MATERIALS OWNED OR CONTROLLED BY THE HOTELHOUSE.

BY ACCESSING THE WEBSITE OR APP, YOU UNDERSTAND THAT YOU MAY BE WAIVING RIGHTS WITH RESPECT TO CLAIMS THAT ARE AT THIS TIME UNKNOWN OR UNSUSPECTED, AND IN ACCORDANCE WITH SUCH WAIVER, YOU ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTAND, AND HEREBY EXPRESSLY WAIVE, THE BENEFITS OF SECTION 1542 OF THE CIVIL CODE OF CALIFORNIA, AND ANY SIMILAR LAW OF ANY STATE OR TERRITORY, WHICH PROVIDES AS FOLLOWS: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR.”

<h1>10. GOVERNING LAW; DISPUTES</h1>
For UK consumers, this Section is subject to paragraph (5) of Appendix 1 (Special Terms for Consumers in the United Kingdom ).

A. Governing Law; Venue. The validity and interpretation of these Terms, the rights and obligations hereunder, and all causes of action (whether sounding in contract, tort, or otherwise) arising out of or related to these Terms, the termination of these Terms, or the use of the Website or App, are to be governed by, and construed in accordance with, the substantive laws (as distinguished from the choice of law rules) of the State of New York and the United States of America applicable to contracts made and performed entirely in New York. You agree that any action at law or in equity arising out of or in any way relating to these Terms will be filed only in the state or federal courts located in New York County, New York, and you hereby consent and submit to the personal jurisdiction of such courts for the purposes of litigating any such action.

B. Waiver. Both you and HOTELHOUSE waive the right to bring or resolve any dispute as a class, consolidated, representative, collective, or private attorney general action, or to participate in any such action brought by anyone else. YOU HEREBY WAIVE ANY RIGHT YOU MAY NOW HAVE OR HEREAFTER POSSESS TO A TRIAL BY JURY. The foregoing shall not apply to the extent that applicable law in your country of residence requires application of another law and/or jurisdiction and this cannot be excluded by contract.

<h1>11. USER PROFILE & REGISTRATION</h1>

Use of the Website or App, or certain areas of the Website or App, may require registration or may otherwise ask or require you to provide information to use certain services or features. When you choose to provide information to the Website or App, you agree to provide only true, accurate, current and complete information. You agree to update any of your information if it becomes inaccurate. If you register with us, you agree to be responsible for any activities that occur under your user profile or password, and you agree you will not sell or otherwise transfer your user profile or rights to access the Website or App.

HOTELHOUSE reserves the right to review your registration before permitting access, to deny access to the Website or App, and to terminate your access to the Website or App, for any reason or no reason, in its sole discretion without notice and without liability. You agree that you will be responsible for obtaining and maintaining all telephone, computer hardware and other equipment needed to access and use the Website or App. You also agree to comply with all rules, laws and regulations that are applicable to your use of the Website or App, including, without limitation, those governing your transmission or use of any software or data.

<h1>12. SOCIAL DISTRIBUTION</h1>

HOTELHOUSE grants you the limited, revocable permission, subject to the restrictions in these Terms, to engage in the following personal uses of Materials that include the ability to share Materials with others (“Social Distribution”): (a) sending Materials to friends or acquaintances at no charge; (b) posting and displaying a copy of Materials on a personal website; or (c) posting and displaying a copy of the Materials on a third party website or app that permits users to post content, so long as the posting is allowed pursuant to the third party website’s terms and conditions and policies, and provided that the third party website does not charge for access to those materials or associate those materials with products, services or advertising. If you engage in Social Distribution, you agree that you will not post any performance claims about a HOTELHOUSE product or service through your Social Distribution and that only HOTELHOUSE may make claims, promises or statements on behalf of HOTELHOUSE about its products and services. You also agree that you will not imply that you and HOTELHOUSE are affiliated in any way or that HOTELHOUSE approves of your Social Distribution. Except as otherwise permitted by these Terms, or expressly in writing by HOTELHOUSE, you may not make any use of or license, distribute, reproduce, or otherwise exploit any part of the Materials. HOTELHOUSE may, and reserves the right to, revoke HOTELHOUSE’ permission for Social Distribution at any time and for any reason, and you agree to immediately cease Social Distribution upon notice of revocation and to comply with any terms we post in connection the Social Distribution of Materials.

<h1>13. JURISDICTIONAL ISSUES</h1>
The information provided on the Website and App is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject HOTELHOUSE to any registration requirement within such jurisdiction or country. HOTELHOUSE controls the Website and App from offices located in the United States. Anyone using or accessing the Website or App from other locations does so on their own initiative and is responsible for compliance with United States’ and local laws regarding online conduct and acceptable content, if and to the extent such laws are applicable. We reserve the right to limit the availability of the Website or App or any portion of the Website or App, to any person, geographic area, or jurisdiction, at any time and in our sole discretion, and to limit the quantities of any content, program, product, service or other feature that we provide.

Software related to or made available by the Website or App may be subject to United States export controls. Thus, neither the App nor software from the Website may be downloaded, exported or re-exported: (a) into (or to a national or resident of) any country to which the United States government has embargoed goods or designated as a “terrorist supporting country”; or (b) to anyone on the U.S. Treasury Department’s list of Specially Designated Nationals, the U.S. Commerce Department’s Table of Deny Orders, or any other U.S. Government list of prohibited or restricted parties. By downloading the App or any software related to the Website, you represent and warrant that you are not located in, under the control of, or a national or resident of, any such country or on any such list.

<h1>14. SWEEPSTAKES, CONTESTS & PROMOTIONS</h1>
The Website or App may contain or offer sweepstakes, contests, or other promotions, which may be governed by a separate set of official rules and have eligibility requirements, such as certain age or geographic area restrictions. It is your responsibility to read the applicable rules to determine whether or not your participation, registration or entry will be valid or restricted and to determine the sponsor’s requirements of you in connection with the applicable sweepstakes, contest, or promotion.

<h1>15. LINKS TO THIRD PARTY CONTENT & THIRD PARTY INTERACTIONS</h1>
The Website or App may provide links to certain web sites, services and features that are provided by third parties. Functionality on the Website or App may also permit interactions between the Website or App and a third party site or online feature, including functionality that allows you to connect the Website, App or your profile with a third party site. For example, the Website may include features enabling you to indicate on a third party web site or service that you “like” certain Website content, to share App content on a third party web site or service, to log-in to the Website using your username and password for a third party web site or service, to transmit content to the Website from your profile on a third party web site or service, and to otherwise connect the Website or App to a third party web site or service. Using this functionality may require you to login to your profile on the third party site, and you do so at your own risk.

We do not control any of these third party sites, apps, or services, or any of their content. Accordingly, you understand and agree that we are not responsible for your use of these third party web sites or services, and that your use of such sites or services is subject to the terms and conditions established by such third parties. YOUR CORRESPONDENCE AND BUSINESS DEALINGS WITH THIRD PARTIES FOUND THROUGH THE WEBSITE AND APP INCLUDING, WITHOUT LIMITATION, THE PAYMENT AND DELIVERY OF PRODUCTS AND SERVICES, AND ANY TERMS, CONDITIONS, WARRANTIES AND REPRESENTATIONS ASSOCIATED WITH ANY SUCH DEALINGS, ARE SOLELY BETWEEN YOU AND THE THIRD PARTY.

Further, you may choose, at your sole and absolute discretion and risk, to use applications or other functionality that connects the Website, App or your profile on the Website or App with a third party site or service (“Third Party Interactions”) and such Third Party Interactions may interact with, connect to or gather and/or pull information from and to your profile on the Website or another third party web site or service. By engaging in such Third Party Interactions, you acknowledge and agree to the following: (i) if you use Third Party Interactions to share information relating to your profile on the Website or App, you are consenting to the information about your profile being shared; (ii) your use of Third Party Interactions may cause personally identifying information to be publicly disclosed and/or associated with you, even if HOTELHOUSE has not provided such information; and (iii) your use of Third Party Interactions is at your own option and risk, and you will hold HOTELHOUSE harmless for the sharing of information relating to your profile on the Website that results from your use of Third Party Interactions. You must read all log-in boxes and other pop-up boxes closely for notices about sharing your profile information with, through or by any other means identified on or in connection with Third Party Interactions.

Descriptions of, references to, or links to products, services or publications within the Website or App do not imply endorsement of that product, service or publication.

<h1>16. LINKING POLICY</h1>

HOTELHOUSE grants you the revocable permission to link to the Website or App; provided, however, that any link to the Website or App: (a) must not present false information about, disparage damage, dilute or tarnish the goodwill associated with HOTELHOUSE or its products or services, any HOTELHOUSE property or any other intellectual property; (b) must not create the false appearance that your web site or organization is sponsored, endorsed by, affiliated or associated with HOTELHOUSE; (c) must not frame or create a browser or border environment around any of the content on the Website or App or otherwise mirror any part of the Website or App; (d) must not use any HOTELHOUSE trademarks without the prior written permission from HOTELHOUSE; (e) must not contain content that could be construed as distasteful, offensive or controversial or otherwise objectionable (in HOTELHOUSE’ sole opinion); and (f) must be owned and controlled by you or the person or entity placing the link, or otherwise permit you to enable such link subject to these Terms. You agree that you will not link to the Website or App from any source that is unlawful, abusive, indecent or obscene, that promotes violence or illegal acts, that contains expressions of racism, that is libelous, defamatory, scandalous, or inflammatory or is otherwise inappropriate (in HOTELHOUSE’ sole discretion). By linking to the Website or App, you agree that you do and will continue to comply with the above linking requirements.

<h1>17. SPECIAL TERMS GOVERNING KEYLESS ENTRY THROUGH OUR APP</h1>

The following terms apply to the Keyless Entry functionality of the App.

Keyless Entry functionality may be available at certain HOTELHOUSE properties, and access to Keyless Entry is provided at HOTELHOUSE’ sole discretion.

In order to use Keyless Entry you must ensure that all necessary settings and required network communications are enabled and correct. In addition, you acknowledge and agree that Keyless Entry can only be used when Bluetooth functionality is enabled on your mobile device and that mobile keys can only be issued to or deleted from the App when your mobile device has network connectivity.

Your use of Keyless Entry is voluntary. If Keyless Entry is available to you and you choose to use Keyless Entry, you acknowledge and agree that your guest room number for a valid reservation will be sent to your mobile device through the App and will be viewable to anyone with access to your mobile device through the App. You are solely responsible for restricting use of the App on your mobile device and keeping your mobile device secure—for example, by using passwords or other security functions necessary to restrict access to your mobile device or the App. You agree that you will not allow a third party to use your mobile device to access the App or use Keyless Entry on your mobile device.

If at any time while you have a reservation that can be accessed via Keyless Entry your mobile device is lost, stolen, hacked, compromised, or otherwise no longer under your control, you agree to immediately contact the front desk of the hotel where the reservation was made and to follow any instructions that the hotel or that HOTELHOUSE provides, including, without limitation, deleting or consenting to the deletion of any mobile keys from your mobile device. Neither HOTELHOUSE nor any participating property will be responsible for any problems or claims that may result from your failure to adequately secure your device or to notify the applicable hotel in the event that your mobile device is lost, stolen, or hacked or is otherwise no longer in your possession or control or is compromised.

You agree that you will only use Keyless Entry in connection with a valid reservation for the intended purposes of checking-in and of using your mobile device to access designated areas that you are lawfully permitted to access, including the guest room assigned to you. You shall not use Keyless Entry for any other purpose and you may only use Keyless Entry on a mobile device that you control.

Copyright and patent laws and international treaty provisions protect Keyless Entry software and mobile keys. Any reproduction or redistribution of the software or mobile keys is expressly prohibited by law and may result in severe civil and criminal penalties. Without limiting the foregoing, copying or reproduction of the software or mobile keys for further reproduction or redistribution is expressly prohibited. HOTELHOUSE grants to you a limited, non-exclusive, non-transferable, revocable license to use Keyless Entry functionality on your mobile device while it is in your possession and under your control and only for use as otherwise set forth in these terms.

<h1>18. TERMINATION</h1>

HOTELHOUSE reserves the right, without notice or liability and at its sole discretion, to suspend or terminate these Terms and/or your ability to access or use the Website or App (or any portion of the Website or App), and to block or prevent future access to and use of the Website or App for any reason, including, without limitation, your breach of these Terms or other conduct by you that HOTELHOUSE considers inappropriate. HOTELHOUSE reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Website or App with or without notice. You agree that no HOTELHOUSE Party shall be liable to you or to any third party for any modification, suspension or discontinuation of the Website or App. You acknowledge and agree that termination, suspension, or cancellation of these Terms or your access to the Website or App will not affect any right or relief to which HOTELHOUSE may be entitled, at law or in equity, nor shall they affect any obligation you have to HOTELHOUSE, including but not limited to the payment of fees.

Upon termination of these Terms, all rights granted to you will automatically terminate and immediately revert to HOTELHOUSE and its licensors. Upon termination of your access to the Website or App, or upon demand by HOTELHOUSE, you must destroy all Materials and all related documentation including immediately discontinuing the use of any links to the Website or App. Any provisions of these Terms, which, by their terms, ought to survive, shall survive any termination of these Terms.

You understand and agree that HOTELHOUSE will determine your compliance with these Terms in its sole discretion. Any violation of these Terms may be referred to law enforcement authorities.

<h1>19. PRIVACY NOTICE</h1>

Your use of the Website and communications with HOTELHOUSE are governed by and subject to the Privacy Notice. You agree that you have read our Privacy Notice, and agree that it is acceptable to you. By agreeing to these Terms and/or using the Website or App, you agree that you consent to the information handling practices and other provisions in our Privacy Notice.

<h1>20. ENTIRE AGREEMENT</h1>

You acknowledge and agree that these Terms and any applicable Additional Terms constitute the complete and exclusive agreement between you and HOTELHOUSE concerning your access to and use of the Website or App, and supersede and govern all prior proposals, agreements, or other communications, whether oral or in writing, with respect to the Website or App. Neither party has relied on any statement or representation not set forth in these Terms and any applicable Additional Terms. You represent, warrant, and covenant that your access to and use of the Website will comply with these Terms of Use.

<h1>21. MISCELLANEOUS</h1>
If any provision of these Terms are found to be unlawful, void, or for any reason unenforceable, then that provision shall be modified to the least extent necessary to make it enforceable and shall not affect the validity and enforceability of any remaining provisions. These Terms and any rights herein, if any, are not assignable, transferable or sub-licensable by you except with the prior written consent of a duly authorized HOTELHOUSE employee. HOTELHOUSE may assign these Terms and any rights contained herein without your prior notice or consent. No waiver by either party of any breach or default hereunder shall be deemed to be a waiver of any preceding or subsequent breach or default. Any heading, caption or paragraph title contained in these Terms are inserted only as a matter of convenience and in no way defines or explains any paragraph or provision hereof. Nothing contained in these Terms of Use shall be construed as creating any agency, partnership, or other form of joint enterprise between you and HOTELHOUSE. You agree that these Terms will not be construed against HOTELHOUSE by virtue of having drafted these Terms.

<h1>22. SPECIAL TERMS WHEN APP IS OBTAINED THROUGH APPLE</h1>

When the App is provided to you through Apple, Inc. or its affiliates (collectively, “Apple”), the following terms apply in addition to all the other terms and conditions of this Agreement:

This Agreement concluded between the parties, and not with Apple. Apple is not responsible for the App or its content; the App and its content are solely governed by this Agreement.

Notwithstanding anything to the contrary hereunder, you may use the App only on an Apple-branded device that you own or control, subject to Apple’s App Store Terms of Service.

The parties acknowledge that Apple has no obligation to furnish any maintenance or support services with respect to the App.

HOTELHOUSE makes no warranties regarding the App. But in the event of any failure of the App to conform to any applicable warranty that is not effectively disclaimed, you may notify Apple, and Apple will refund the purchase price for the App (if any) to you. Except for the foregoing, to the maximum extent permitted by applicable law, Apple will have no other warranty obligation whatsoever with respect to the App, and any other claims, losses, liabilities, damages, costs or expenses attributable to any failure to conform to any warranty will be governed by this Agreement.

Any (i) product liability claims relating to the App, (ii) claims that the App fails to conform to any applicable legal or regulatory requirement and (iii) claims arising under consumer protection or similar legislation are governed by this Agreement, and Apple is not responsible for such claims.

Any third party claim that the App or your possession and use of the App infringes that third party’s intellectual property rights will be governed by this Agreement, and Apple will not be responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claim.

Apple and Apple’s subsidiaries are third party beneficiaries to this Agreement and may enforce this Agreement against you.

<h1>23. CHANGES TO THESE TERMS</h1>
We reserve the right, in our sole discretion and at any time, to change or add to the terms of these Terms without prior notice (“Updated Terms”). You agree that we may notify you of the Updated Terms by posting them on the Website or App so that they are accessible via a link from the home page or within the App. Therefore, whenever you want to use the Website or App you should review these Terms before using the Website or App. The Updated Terms will be effective as of the time of posting, or such later date as may be specified in the Updated Terms, and will apply to your use of the Website from that point forward.

<h1>24. CONTACTING US</h1>
If you have any comments or questions regarding these Terms, or wish to report any violation of these Terms, please contact us at:

HOTELHOUSE
Attn: Legal Department – Terms of Use
One Atlantic Street, 5th Floor
Stamford, CT 06901
legal@clubquarters.com

 

 

Appendix 1
Additional Terms for Consumers in the United Kingdom

This Appendix 1 applies to a consumer residing in the UK.

1. Right to cancel

You have a right to cancel your use of the App within 14 days of download of the App and receive a refund where you have provided payment to use the App. To exercise this right, you will need to inform us of your decision by contacting us at legal@clubquarters.com before the 14 days period expires. You also have a right to inform us using the model cancellation form below or by making any other clear statement. If you use this option, we will communicate to you an acknowledgement of receipt of such a cancellation on a durable medium (e.g., by e-mail) without delay. Where you have provided payment to use the App, we will refund you the price you paid (if any) for the App including delivery costs, by the method you used for payment within 14 days from the day you informed us of your wish to cancel. For the avoidance of doubt, the right to cancel described in this Section 1 does not apply to any hotel reservation, even if made using the App.

Model Cancellation Form

(Complete and return this form only if you wish to withdraw from the contract)

To: HOTELHOUSE
One Atlantic Street, 5th Floor
Stamford, CT 06901
legal@clubquarters.com
+44 (0) 20 7451 5800
I hereby give notice that I cancel my contract of sale for the supply of the following service: CQ Mobile App
Ordered on or received on:
Name of consumer: ________________
Address of consumer: ________________
Signature of consumer (only if this form is notified on paper): ________________
Date: ________________

Loss of right to cancel: you acknowledge that you will lose your right of withdrawal from the contract once the download or streaming of the App has begun on your request and your acknowledgement that you have thereby lost your cancellation right.

2. Your liability
Please note that you will be responsible for any losses, expenses or costs incurred by HOTELHOUSE resulting from your deliberate breach of these Terms, your misuse of the Website and/or App, and your violation of any law. You will also be responsible for all costs allowable if an award is made by a court or arbitration in our favor in relation to any of your violation of the Terms.

3. Disclaimers
Where any applicable legislation implies any warranties, guarantees or conditions or imposes obligations upon us which cannot lawfully be excluded, restricted or modified except to a limited extent, these Terms must be read subject to those statutory provisions. Any legal rights which you have as a consumer, which cannot be excluded or limited, will not be affected by the provisions of these Terms. To the maximum extent permitted by such legislation, our liability for a breach of that condition, guarantee or warranty will be limited to the Cap (as defined at 4(b) below).

4. Our liability

a) We do not exclude or limit in any way our liability to you where it would be unlawful to do so. This includes liability for death or personal injury caused by our negligence or the negligence of our employees, agents or subcontractors and/or for fraud or fraudulent misrepresentation.

b) If we fail to comply with the provisions of these Terms, we are responsible for loss or damage you suffer that is a foreseeable result of our breaking this contract or our failing to use reasonable care and skill only, but we are not responsible for any loss or damage that is not foreseeable nor caused by our breach nor for factors which could reasonably be considered to be outside of our control. In no event shall the total sum of our liability to you exceed one hundred US dollars ($100.00) (the Cap).

c) If the App is (a) provided for free; and (b) causes damage to your registered device or other digital content on your registered device and such damage is caused by our failure to use reasonable skill and care, we will (in our sole discretion) either repair the damage or pay you appropriate compensation (which shall be limited to the Cap). However, We will not be liable for damage that you could have avoided by following our advice to apply an update offered to you free of charge (e.g. via standard app update mechanisms from where you downloaded or otherwise obtained the App) or for damage that was caused by you failing to correctly follow installation instructions or to have in place the minimum system requirements advised by us.

d) We only supply the products for domestic and private use. Subject to (3) and 4(a) above, if you use the Website or App for any commercial or business purposes, we will have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.

5. Venue

You can bring legal proceedings in respect of the Website or App in the English courts.

6. Dispute resolution

In addition to the Dispute Resolution terms above, please note that disputes may be submitted for online resolution to the European Commission Online Dispute Resolution platform which can be accessed here.

7. Miscellaneous

The Terms are not enforceable under the Contracts (Rights of Third Parties) Act 1999 by a person who is not a party to these Terms.

8. Pre-Contractual Information

The App provides information about our hotels and allows you to book and manage your bookings using your mobile device. Details about the functionality and interoperability of the App are as follows:
<center>
<li>• Language: English (instructions are also in English)</li>
<li>• File type: Android and iOS mobile application</li>
<li>• Access type: Download</li>
<li>• Access conditions: Internet connection required</li>
<li>• Restrictions: None</li>
<li>• Hardware and software requirements: iOS or Android mobile device required</li></center>

Where fees may be payable, these will be disclosed to you before you register a device (these details will usually be presented to you on your relevant app store). Any additional fees to be charged for your use of the App following registration (such as for in-app purchases, if available) will be disclosed to you in advance of payment being taken and will only be charged following your confirmation to any chargeable elements of the App. Such charges may be managed by your mobile operator – please refer to your mobile operator’s billing statement for any charges related to the App. Your mobile operator may also charge you for use of or access to the Service – please contact your provider directly for further information

We will make the App available for download as soon as we accept your order.
</p></center>


<hr>
<hr>

<div class"container-fluid">
<div class="row p-5 bg-dark text-light">

<div class="col-xs-12 col-md-6 col-lg-3">
<p class="h3">HOTELHOUSE</p>
<img id="logo" src="https://live.staticflickr.com/65535/52440429847_f4d9a01755_t.jpg" >
</a>
</div>
<div class="col-xs-12 col-md-6 col-lg-3">
<p class="h5">links </p>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_legal')}}">Informations légales.</a>
</div>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_cgv')}}">Conditions Générales de Vente.</a>
</div>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_terms')}}">Terms</a>
</div>

</div>
<div class="col-xs-12 col-md-6 col-lg-3">
<p class="h5">Top destinations </p>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_acces')}}">Destinations.</a>
</div>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_acces')}}">Accès</a>
</div>
<a class="text-secondary text-decoration-none" href="{{path('app_chambres')}}">Chambres</a>
</div>


<div class="col-xs-12 col-md-6 col-lg-3">
<p class="h5">Prestations de service </p>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_legal')}}">S’inscrire à la newsletter</a>
</div>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_boutique')}}">Boutique</a>

</div>
<a class="text-secondary text-decoration-none" href="{{path('app_boutique')}}">Actualités.</a>
</div>




      <!-- FOOTER -->
      <footer>
      <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-dark">Nous prenons soin de nos clients.</h5>
        <p class="card-text text-dark">Tout ce que vous besoin.</p>
        <a href="{{path('app_qsn')}}" class="btn btn-dark ">Qui sommes-nous?</a>
        <a href="{{path('app_contact')}}" class="btn btn-dark ">Contact us</a>
        
        

        
        
        
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-dark">Nos réseaux sociaux.</h5>
        <p class="card-text text-dark">Racontez-nous votre expérience.</p>
        
        <div class="container_footer">
        
     <a href="https://www.flickr.com/photos/metales_per4mance_o/" class="btn btn-dark ">Flickr</a>
         <a href="https://www.facebook.com/ux.hax/" class="btn btn-dark ">Facebook</a>
      </div>
    </div>
  </div>
  </div>
</div>

      <center><p class="pull-right btn btn-dark"><a href="#">Back to top</a></p><p>&copy; 2022 Silvia Garcia Esteve. </p></center>
      </footer>
    </div>
</div>
</div>
</div>
   
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    
  </body>
</html>

{% endblock %}
