{% extends 'base.html.twig' %}

{% block title %}Hello ChambresController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<br>
<div align=center>
<div class="card border-secondary mb-3" style="max-width: 50rem;">
  <div class="card-header">HOTELHOUSE</div>
  <br>
  
  <div>
  <center><img id="logo" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR50xiynvlOHnFW4qKxH3jkaO8YuYCw0D6PajRyQ-HQr7WoDcfc" width="200" height="150";></center></div>
</a>
  
  <div class="card-body" >
    <h5 class="card-title">Chambre Classique 250 € La nuit</h5>
    <p class="card-text">Profitez de nos chambres classiques le temps d'une nuit pour faire une pause .</p>
  <center><a href="#" class="btn btn-dark ">Commandez</a><center></div>
  </div>
  </div>
  </div>
  
  <div>
  </div>

  <br>
<div align=left>
<div class="card border-secondary mb-3" style="max-width: 50rem;">
<div align=center>
  <div class="card-header">HOTELHOUSE</div>
  </div>
  <br>
  
  <div>
  <center><img id="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFUfnSeRSEr1L8venoCfBBCagmpXPoUEG7twacJ4i2OCJcLDMu" width="200" height="150";></center></div>
</a>
  
  <div class="card-body" >
    <center><h5 class="card-title">Chambre confort 500 € La nuit</h5></center>
   <center> <p class="card-text">Nos chambres confort sont spécialement conçues pour donner pleinement satisfaction.</p></center>
   <br>
  <center><a href="#" class="btn btn-dark ">Commandez</a><center>
  </div>
  </div>
  </div>
  
  <div>
  </div>

  
  <div>
  </div>

  <br>
<div align=right>
<div class="card border-secondary mb-3" style="max-width: 50rem;">
<div <div align=left>
<div align=center>
  <div class="card-header">HOTELHOUSE</div>
  </div>
  </div>
  <br>
  
  <div>
  <center><img id="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5ZGLOoJvRQoPhLRaDONLfqwodEOriLTbsXa8hbzOIG2DMaG5m" width="200" height="150";></center></div>
</a>
  
  <div class="card-body" >
    <center><h5 class="card-title">Suite 800 € La nuit</h5></center>
   <center> <p class="card-text"> Nos suites sont à la fois spacieuses et lumineuses , n'hesitez plus !</p></center>
   <br>
  <center><a href="#" class="btn btn-dark ">Commandez</a><center></div>
  </div>
  </div>
  <br>
  <br>
  <div>
  </div>
  

  <div class"container-fluid">
<div class="row p-5 bg-dark text-light">

<div class="col-xs-12 col-md-6 col-lg-3">
<p class="h3">HOTELHOUSE</p>
<img id="logo" src="https://live.staticflickr.com/65535/52440429847_f4d9a01755_t.jpg" >
</a>
</div>
<div class="col-xs-12 col-md-6 col-lg-3">
<p class="h5">links </p>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_legal')}}">Informations légales.</a>
</div>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_cgv')}}">Conditions Générales de Vente.</a>
</div>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_terms')}}">Terms</a>
</div>

</div>
<div class="col-xs-12 col-md-6 col-lg-3">
<p class="h5">Top destinations </p>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_acces')}}">Destinations.</a>
</div>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_acces')}}">Accès</a>
</div>
<a class="text-secondary text-decoration-none" href="{{path('app_chambres')}}">Chambres.</a>
</div>


<div class="col-xs-12 col-md-6 col-lg-3">
<p class="h5">Prestations de service </p>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_legal')}}">S’inscrire à la newsletter</a>
</div>
<div class="mb-2">
<a class="text-secondary text-decoration-none" href="{{path('app_boutique')}}">Boutique</a>

</div>
<a class="text-secondary text-decoration-none" href="{{path('app_boutique')}}">Actualités.</a>
</div>




      <!-- FOOTER -->
      <footer>
      <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-dark">Nous prenons soin de nos clients.</h5>
        <p class="card-text text-dark">Tout ce que vous besoin.</p>
        <a href="{{path('app_qsn')}}" class="btn btn-dark ">Qui sommes-nous?</a>
        <a href="{{path('app_contact')}}" class="btn btn-dark ">Contact us</a>
        
        

        
        
        
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-dark">Nos réseaux sociaux.</h5>
        <p class="card-text text-dark">Racontez-nous votre expérience.</p>
        
        <div class="container_footer">
        
     <a href="https://www.flickr.com/photos/metales_per4mance_o/" class="btn btn-dark ">Flickr</a>
         <a href="https://www.facebook.com/ux.hax/" class="btn btn-dark ">Facebook</a>
      </div>
    </div>
  </div>
  </div>
</div>

      <center><p class="pull-right btn btn-dark"><a href="#">Back to top</a></p><p>&copy; 2022 Silvia Garcia Esteve. </p></center>
      </footer>
    </div>
</div>
</div>
</div>
   
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    
  </body>
</html>
  
{% endblock %}
